/**
 * Calendar listings
 */

 #topic_form select,
 #state_form select,
 #month_form select {
 	margin-left: 10px;
 }

.table-month-divider td {
	background-color: $main-blue; 
	color: white;
}

.trainer-click-here img {
	max-width: 260px;
}

@media (max-width: 768px) {
	.trainer-click-here {
		width: 100%;
	
		img {
			max-width: 150px;
			// margin: 0 auto;
		}
	}

	#topic_form {
		margin-top: 20px;
	}

	#zip_form label,
	#zip_form input,
	#zip_form select {
		clear: both;
		float: right;
	}
}

@media (max-width: 480px) {
	.trainer-click-here {
		width: 100%;
	
		img {
			max-width: 150px;
			// margin: 0 auto;
		}
	}

	#topic_form {
		margin-top: 20px;
	}

	#zip_form label,
	#zip_form input,
	#zip_form select {
		clear: both;
		float: right;
	}
}

@media (max-width: 320px) {
	.trainer-click-here {
		width: 100%;
	
		img {
			max-width: 150px;
			// margin: 0 auto;
		}
	}

	#topic_form {
		margin-top: 20px;
	}

	#zip_form label,
	#zip_form input,
	#zip_form select {
		clear: both;
		float: right;
	}
}