/**
 * Footer
 */
footer {
	background-color: $dark-gray;
	color: #FFFFFF;
	height: 70px;
	padding: 12px;

	ul.disclaimers {
		list-style-type: none;
		padding-top: 15px;
		text-align: right;
		padding-left: 0;

		li {
			display: inline;
			padding-right: 15px;
		}
	}
}