/**
 * Global styles
 */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	background-color: $light-gray;
	font-family: $pt-sans;
	font-size: 18px;
}

a,
a:visited,
a:active {
	color: $main-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.btn-primary:visited,
a.btn-primary:active {
	color: #FFFFFF;
}

#wrap {
  	min-height: 100%;
  	height: auto;
  	margin: 0 auto -50px;
  	padding: 0 0 50px 0;
}

#push {
	height: 50px;
}

#main-content .row .col-md-7 {
	padding-top: 20px;
}

#main-content h1 {
	border-bottom: 1px solid $main-blue;
}

#main-content h1:first-of-type {
	margin-top: 0;
}

#main-content .row .col-md-7,
#main-content .row .col-md-4 {
	background-color: #FFFFFF;
	border: 1px solid rgba(151, 154, 156, 0.3);
	margin-bottom: 20px;
}

#listing-table-head {
	margin-bottom: 0;

	thead th {
		font-weight: bold;
		padding-bottom: 0;
	}

}

ul.details-list {
	list-style-type: none;
	padding-left: 0;
}

#simplr-form input[name="submit-reg"],
#forgot input[name="forgot"],
#log_forms input[name="login"] {
	color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    background-image: none !important;
}

.wpuf-fields label {
	display: block;
}

span.required {
	color: #FF0000;
}

#account-tab-list-mobile {
	display: none;
	background-color: $light-gray;
	text-align: center;

	ul {
		list-style-type: none; 
		text-align: center; 
		padding-left: 0;
		background-color: $light-gray;

	}
}

table tbody tr {

	td.date-column {
		width: 20%;
		max-width: 130px;
	}

	td.title-column {
		width: 50%;
		max-width: 325px;
	}

	td.location-column {
		width: 30%;
		max-width: 194px;
	}
}

input[name="user_password"] {
	background: #FFFFFF none repeat scroll !important;
	border-shadow: none !important;
	box-shadow: none !important;
	padding: 3px !important;
	margin-left: 4px;
}


@media (max-width: 768px) {

	.navbar-collapse {
		margin-top: 65px;
	}

	.recruiters-click-here {
		width: 100%;
	
		img {
			max-width: 100%;
			// margin: 0 auto;
		}
	}

	#state_form {
		margin-top: 100px;
	}

	#account-tab,
	#account-tab-list {
		display: none;
	}

	#account-tab-list-mobile {
		display: block;
	}
}

@media (max-width: 480px) {

	.navbar-collapse {
		margin-top: 65px;
	}

	.recruiters-click-here {
		width: 100%;
	
		img {
			max-width: 100%;
			// margin: 0 auto;
		}
	}

	#state_form {
		margin-top: 100px;
	}

	#account-tab,
	#account-tab-list {
		display: none;
	}

	#account-tab-list-mobile {
		display: block;
	}

	.date-column {
		width: 44px;
	}

	.title-column {
		width: 163px;
		
	}

	.location-column {
		width: 150px;
	}

	
}

@media (max-width: 320px) {

	.navbar-collapse {
		margin-top: 65px;
	}

	.recruiters-click-here {
		width: 100%;
	
		img {
			max-width: 100%;
			// margin: 0 auto;
		}
	}

	#state_form {
		margin-top: 100px;
	}

	#account-tab,
	#account-tab-list {
		display: none;
	}

	#account-tab-list-mobile {
		display: block;
	}


	.date-column {
		width: 44px;
	}

	.title-column {
		width: 163px;
		
	}

	.location-column {
		width: 150px;
	}
	

}