/**
 * Primary Navigation Menu
 */

#primary-nav.navbar {
	border-radius: 0;
	min-height: 115px;
	//background: url('../img/lights-bg.jpg') no-repeat center 10%;
	//background: url('../img/asphalt-bg.png') repeat-x;

}

#primary-nav.navbar-inverse {
	background-color: #FFFFFF;
	border: none;
	border-bottom: 1px solid $main-blue;
}

#primary-nav .navbar-brand {
	color: $main-blue;
	padding: 8px;
} 

#primary-nav button.navbar-toggle {
	background-color: $dark-gray;
	border-color: $dark-gray;
}

#primary-nav .navbar-nav {
	margin-top: 30px;
}

#primary-nav ul.navbar-nav a {
	color: $main-blue;
    font-size: 22px;
    font-family: $play;
    text-align: center;

    &:hover {
    	//border-bottom: 2px solid $main-blue;
    	text-decoration: underline;
    }
}

#primary-nav ul.navbar-nav a.active {
	//border-bottom: 2px solid $main-blue;
	font-weight: bold;
	text-decoration: underline;
}

.nav-sub-text {
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: 50px;
    left: -10px;
    width: 150px;
    display: none;
}

#primary-nav .in li a,
#primary-nav .collapsing li a {
	text-align: center;
}

@media (max-width: 768px) {
	#primary-nav.navbar {
		min-height: 180px;
	}
}

@media (max-width: 1199px) and (min-width: 991px) {
	#primary-nav ul.navbar-nav a {
		font-size: 18px;
	}
}

/**
 * Account Access Tab
 */
#account-tab {
	position: absolute;
    top: 0;
    right: 0px;
    z-index: 1000;
    background-color: $main-blue;
    color: #FFFFFF;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    font-size: 16px;
}

#account-tab-list {
	display: none;
	background-color: darken($main-blue, 20%);
	color: #FFFFFF;
	position: absolute;
	top: 0;
	right: 0;
	padding: 50px 15px 0 15px;
	z-index: 999;
	font-size: 16px;

	ul {
		padding-left: 0;
    	list-style-type: none;

    	a {
    		color: #FFFFFF;
    	}
	}
}

@media (max-width: 768px) {
	.navbar-brand {
		width: 100%;

		img {
			margin: 0 auto;
		}
	}
}

@media (max-width: 480px) {
	.navbar-brand {
		width: 100%;

		img {
			margin: 0 auto;
		}
	}
}

@media (max-width: 320px) {
	.navbar-brand {
		width: 100%;

		img {
			margin: 0 auto;
		}
	}
}