/**
 * Variables
 */

/**
 * Colors
 */
$main-blue: #0f4da2;
$main-black: #010101;
$dark-gray: #979a9c;
$light-gray: #f1f2f3;


/**
 * Fonts
 */
$pt-sans: 'PT Sans', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$play: 'Play', sans-serif;